---
import { Image } from 'astro:assets'

import Layout from '../layouts/Layout.astro';
import MusicStatus from '../components/MusicStatus.astro';
import SocialLink from '../components/SocialLink.astro';
import ProjectLink from '../components/ProjectLink.astro';
import Widgets from '../components/88x31s.astro';
import Webrings from '../components/Webrings.astro';
---

<Layout title="circular :3">
  <main class="p-8 w-full lg:w-1/2 text-left self-center text-ctp-text flex flex-col gap-8">
    <div class="w-full">
      <div class="my-4">
        <h1 class="text-5xl font-bold"><span class="text-ctp-overlay0">circular/</span>detnsw-autologin</h1>
      </div>
    </div>
  </main>
</Layout>
