---
import Layout from '../layouts/Layout.astro'
import Footer from '../components/Footer.astro'

import * as fs from 'fs';
const files = fs.readdirSync('public/downloads');
---

<Layout title="circular :3">
  <main class="p-8 w-full lg:w-1/2 text-left self-center text-ctp-text flex flex-col gap-4">
    <h1 class="text-4xl font-bold my-4"><a class="text-ctp-overlay0" href="/">circular/</a>downloads</h1>
    <code>README.md</code>
    <hr>
    <div class="[&>h2]:text-xl [&>h2]:my-2">
        <h1 class="text-2xl">explanation of most of the stuff in here</h1>
        <h2 class="">among_us_macos.zip</h2>
        <p>i made it as my first macos application since my first macbook a couple years ago, and i wanted to test my coding ability on macos.</p>
        <p>its so bad please dont download</p>
        <h2 class="">binaryviewer.zip</h2>
        <p>made as a small project for a tech class, this app takes checkbox inputs (the binary) and converts it to numbers and ASCII.</p>
        <h2 class="text-xl my-2">detnsw-autologin-*.zip</h2>
        <p>my detnsw-autologin project that you can read about on my website (macos ver.)</p>
        <h2 class="text-xl my-2">detnsw-autologin-*.exe</h2>
        <p>my detnsw-autologin project that you can read about on my website (windows ver.)</p>
        <h2 class="text-xl my-2">dpf.exe</h2>
        <p>an app i made to convert between decimals, percentages and fractions (hence the name)</p>
        <h2 class="text-xl my-2">file thing.exe</h2>
        <p>i was lazy and wanted something that was topmost and i could read easily</p>
        <h2 class="text-xl my-2">popuphydra.exe</h2>
        <p>something i made for fun with basic mechanics:</p>
        <ul class="list-disc list-inside">
            <li>every square window you click on will close and open two more with random colors</li>
            <li>you can adjust the number of squares opened in the main window (top-left)</li>
            <li>you can kill the app (and child windows) in the main window (top-left)</li>
        </ul>
    </div>
    <hr>
    <ul class="list-disc list-inside">
      {files.map(file => (
        <li class="hover:translate-x-4 duration-150"><a href={`/downloads/${file}`}>{file}</a></li>
      ))}
    </ul>
    <Footer />
  </main>
</Layout>
