---
import { Image } from 'astro:assets'

import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="circular :3">
  <main class="p-8 w-full lg:w-1/2 text-left self-center text-ctp-text flex flex-col gap-4">
    <h1 class="text-4xl font-bold my-4"><a class="text-ctp-overlay0" href="/">circular/</a>food-bot</h1>
    <p>food-bot is a discord bot that just sends pictures of food.. thats it lol</p>
    <p>the bot is currently in 1973 servers (as of 30 sep 2025) and growing steadily at an average pace of >200 servers per month.</p>
    <p>i dont really have any plans to update the bot or anything, but i'm still gonna keep it online cuz why not lol</p>
    <p>current commands:</p>
    <ul>
      <li>/food - just sends a random picture of food</li>
      <li>/category [category] - sends a random picture of food from the specified category</li>
      <li>/info - gets info about the bot, like current server count and uptime</li>
    </ul>
    <Image src="/food.png" alt="food-bot command example screenshot" width=420 height=366 class="self-center w-96" />
    <p>you can invite the bot <a href="https://discord.com/api/oauth2/authorize?client_id=866362531546398752&permissions=51200&scope=applications.commands%20bot" class="text-ctp-sky">here</a></p>
    <p>the bot is also open source!!! view the source <a href="https://github.com/circularsprojects/foodbot-swift" class="text-ctp-sky">here</a></p>
    <p>food-bot uses a modified version of foodish api to get all food images, you can find that <a href="https://github.com/surhud004/Foodish" class="text-ctp-sky">here</a></p>
    <Footer />
  </main>
</Layout>
