---
import Layout from '../layouts/Layout.astro';
import MusicStatus from '../components/MusicStatus.astro';
import Link from '../components/Link.astro';
import Buttons from '../components/Buttons.astro';
import Webrings from '../components/Webrings.astro';
import Footer from '../components/Footer.astro';
import Kitty from '../components/Kitty.astro';
---

<Layout title="circular :3">
  <main class="p-8 w-full lg:w-1/2 text-left self-center text-ctp-text flex flex-col gap-8">
    <div class="w-full">
      <div class="my-4">
        <h1 class="text-5xl font-bold bg-gradient-to-r from-ctp-pink via-ctp-mauve to-ctp-blue bg-[length:100%_3px] bg-no-repeat bg-bottom inline-block">circular</h1>
        <p class="text-opacity-25 text-ctp-text"><em>he/him/any</em></p>
      </div>
      <p>avid programmer</p>
      <p>diploma of information technology @ UNE</p>
      <p>swift student challenge 2024 winner</p>
      <p>frontend developer @ <a href="https://pyro.host" class="hover:text-ctp-peach duration-100">pyro</a></p>
    </div>
    <MusicStatus />
    <div>
      <h1 class="text-3xl font-bold">Socials</h1>
      <div class="mt-2 flex flex-col">
        <Link
            title="circular [AT] circulars.dev"
            link="javascript:alert('just replace the [at] with a @ duhhh i also have a public key you can use to encrypt messages, see my keyoxide')"
            icon_class="nf-md-email"
            hover_color="hover:text-ctp-red"
            />
        <Link
            title="Keyoxide"
            link="https://keyoxide.org/A7EBE918E1931F95AED878E15FD9E3482ABB74DE"
            icon_class="nf-fa-key"
            hover_color="hover:text-ctp-lavender"
            />
        <Link
            title="Discord"
            link="https://discord.com/users/305243321784336384"
            icon_class="nf-md-discord"
            hover_color="hover:text-ctp-blue"
            />
        <Link
            title="Github"
            link="https://github.com/circularsprojects"
            icon_class="nf-fa-github"
            hover_color="hover:text-ctp-text"
            />
        <Link
            title="Twitter"
            link="https://twitter.com/circlure2"
            icon_class="nf-fa-twitter"
            hover_color="hover:text-ctp-sapphire"
            />
        <Link
            title="Instagram"
            link="https://instagram.com/circularsprojects"
            icon_class="nf-fa-instagram"
            hover_color="hover:text-ctp-pink"
            />
        <Link
            title="Last.fm"
            link="https://www.last.fm/user/circular_"
            icon_class="nf-fa-lastfm"
            hover_color="hover:text-ctp-red"
            />
        <Link
            title="Mastodon"
            link="https://wetdry.world/@circular"
            icon_class="nf-fa-mastodon"
            hover_color="hover:text-ctp-lavender"
            />
      </div>
    </div>
    <div>
      <h1 class="text-3xl font-bold">Projects</h1>
      <div class="mt-2 flex flex-col">
        <Link
            title="Watchcord"
            link="https://watchcord.dev"
            icon_class="nf-md-watch_variant"
            hover_color="hover:text-ctp-mauve"
            />
        <Link
            title="i love neco arc"
            link="https://necoarc.dev"
            icon_class="nf-fa-cat"
            hover_color="hover:text-ctp-pink"
            />
        <Link
            title="detnsw-autologin"
            link="detnsw-autologin"
            icon_class="nf-fa-key"
            hover_color="hover:text-ctp-lavender"
            />
        <Link
            title="food-bot"
            link="food-bot"
            icon_class="nf-md-discord"
            hover_color="hover:text-ctp-blue"
            />
        <Link
            title="Popup Hydra"
            link="popuphydra"
            icon_class="nf-cod-multiple_windows"
            hover_color="hover:text-ctp-sapphire"
            />
      </div>
    </div>
    <div>
      <h1 class="text-3xl font-bold">Services</h1>
      <div class="mt-2 flex flex-col">
        <Link 
           title="4get"
           link="https://4get.circulars.dev"
           icon_class="nf-fa-search"
           hover_color="hover:text-ctp-green"
           />
      </div>
    </div>
    <div class="flex gap-4 justify-between sm:flex-row flex-col">
      <Buttons />
      <iframe width="180" height="180" style="border:none" src="https://dimden.neocities.org/navlink/" name="neolink" title="neolink" loading=lazy></iframe>
    </div>
    <Webrings />
    <Kitty />
    <Footer />
	</main>
</Layout>
