<div>
  <h1 class="text-3xl font-bold">buttons!!</h1>
  <div style="image-rendering: pixelated;" class="flex flex-wrap gap-2 mt-2">
    <a href="https://necoarc.dev"><img src="https://necoarc.dev/assets/necoarc-88x31.png"></a>
    <a href="https://silly.city"><img src="https://silly.city/silly.gif" alt="silly.city" width="88px" height="31px"></a>
    <a href="https://bomberfish.ca"><img src="https://bomberfish.ca/buttons/button.gif" alt="BomberFish" title="BomberFish"></a> 
    <a href="https://remblanc.nekoweb.org"><img src="https://remblanc.nekoweb.org/images/button.png" alt="remblanc" title="bucketring neighbor!!! :3"></a>
    <a href="https://pyralspyte.nekoweb.org"><img src="https://i.postimg.cc/yNrnNC0n/pyralspyte.gif"></a>
  </div>
</div>
