---
import { Image } from 'astro:assets';
---

<div>
  <h1 class="text-3xl font-bold">buttons!!</h1>
  <div style="image-rendering: pixelated;" class="my-4">
    <p>my button :3</p>
    <img src="/circular-88x31.gif" class="hover:scale-125 duration-150 ease-bounce hover:rotate-3" alt="my button :3" loading=lazy>
  </div>
  <ul style="image-rendering: pixelated;" class="flex flex-wrap gap-2 [&>*:hover]:scale-125 [&>*:hover]:rotate-3 odd:[&>*:hover]:-rotate-3 [&>*]:duration-150 [&>*]:ease-bounce">
    <a href="https://necoarc.dev"><Image src="https://necoarc.dev/assets/necoarc-88x31.png" alt="necoarc.dev" title="ENTER THE DOMAIN OF THE PROFANED ONE" loading=lazy width=88 height=31 /></a>
    <a href="https://silly.city"><Image src="https://silly.city/silly.gif" alt="silly.city" width=88 height=31 title="the silly" loading=lazy /></a>
    <a href="https://bomberfish.ca"><Image src="https://bomberfish.ca/buttons/button.gif" alt="BomberFish" title="BomberFish" loading=lazy width=88 height=31 /></a>
    <a href="https://remblanc.nekoweb.org"><Image src="https://remblanc.nekoweb.org/images/button.png" alt="remblanc" title="bucketring neighbor!!! :3" loading=lazy width=88 height=31 /></a>
    <a href="https://pyralspyte.nekoweb.org"><Image src="https://i.postimg.cc/yNrnNC0n/pyralspyte.gif" alt="pyralspyte.nekoweb.org" loading=lazy width=88 height=31 /></a>
    <a href="https://immjs.dev/"><Image src="https://immjs.dev/88x31s/immjs.dev.gif" alt="immjs" loading=lazy width=88 height=31 /></a>
    <a href="https://freeplay.floof.company"><Image src="https://freeplay.floof.company/assets/buttons/free.gif" alt="freeplay" loading=lazy width=88 height=31 /></a>
    <a href="https://dimden.dev/"><Image src="https://dimden.dev/services/images/88x31.gif" alt="dimden" loading=lazy width=88 height=31 ></a>
    <a href="https://760ceb3b9c0ba4872cadf3ce35a7a494.neocities.org"><Image src="https://760ceb3b9c0ba4872cadf3ce35a7a494.neocities.org/people/760ceb3b9c0ba4872cadf3ce35a7a494.png" alt="neco arc enjoyer" loading=lazy width=88 height=31 /></a>
    <a href="https://thinliquid.dev"><Image src="https://thinliquid.dev/thnlqd.png" alt="thinliquid's button" loading=lazy width=88 height=31 /></a>
    <a href="https://giikis2.nekoweb.org/"><Image src="https://giikis2.nekoweb.org/assets/badges/giikis2.png" alt="giikis2" loading=lazy width=88 height=31 /></a>
    <a href="https://khcrysalis.dev"><Image src="https://khcrysalis.dev/assets/services/samara-88x31.png" alt="khcrysalis" loading=lazy width=88 height=31 /></a>
  </ul>
</div>
