---
import { Image } from 'astro:assets';
---

<div class="fixed right-0 bottom-0 cursor-pointer">
  <Image src="/circular-cat.gif" alt="a cat gif" width=180 height=180 onclick="meow()" />
  <script is:inline>
    let meowsound = new Audio('meow.mp3');
    function meow() {
	    meowsound.play();
    }
  </script>
</div>
