---
import { Image } from 'astro:assets';
---

<div class="text-left border-violet-100 border-2 bg-opacity-30 p-4 rounded-lg h-32 flex gap-2">
  <Image id="music-image" src="/circular-cat-200-bg.gif" alt="Album Art" class="rounded-lg" width=92 height=92 loading="eager" />
  <div class="overflow-hidden flex flex-col">
    <p id="music-status" class="text-sm">Last listened to:</p>
    <a id="music-title" class="text-lg overflow-auto">loading last.fm...</a>
    <p id="music-artist" class="text-sm text-gray-300"><em>circular :3</em></p>
  </div>
  <script is:inline>

  const image = document.getElementById('music-image');
  const status = document.getElementById('music-status');
  const title = document.getElementById('music-title');
  const artist = document.getElementById('music-artist');

  function updateMusic() {
    fetch('https://circulars.dev/lastfm')
      .then(response => response.json())
      .then(data => {
        if (data.recenttracks.track[0]['@attr'] && data.recenttracks.track[0]['@attr'].nowplaying) {
          status.innerText = 'Currently listening to:';
        } else {
          status.innerText = 'Last listened to:';
        }
        title.innerText = data.recenttracks.track[0].name;
        title.href = data.recenttracks.track[0].url;
        artist.innerText = data.recenttracks.track[0].artist['#text'];
        image.src = data.recenttracks.track[0].image[2]['#text'];
        image.alt = data.recenttracks.track[0].album['#text'];
      });
  }

  updateMusic()

  </script>
</div>

