<div class="text-center">
  <h1 class="text-3xl font-bold">Webrings</h1>
  <div class="flex flex-col gap-1">
    <p>
      <a href='https://webring.dinhe.net/prev/https://circulars.dev'><--</a>
      <a href='https://webring.dinhe.net/'>Retronaut Webring</a>
      <a href='https://webring.dinhe.net/next/https://circulars.dev'>--></a>
    </p>
    <p>
      <a href='https://webring.bucketfish.me/redirect.html?to=prev&name=circular'><--</a>
      <a href='https://webring.bucketfish.me'>Bucket Webring</a>
      <a href='https://webring.bucketfish.me/redirect.html?to=next&name=circular'>--></a>
    </p>
    <p>
      <a href='https://silly.city/prev?user=circular'><--</a>
      <a href='https://silly.city'>silly city :3</a>
      <a href='https://silly.city/next?user=circular'>--></a>
    </p>
    <!--<iframe id="bucket-webring" style="width: 100%; height: 3rem; border: none;" src="https://webring.bucketfish.me/embed.html?name=circular"></iframe> -->
    <div id='linuxring' style="margin: auto;width: fit-content;">
      <script type="text/javascript" src="https://teethinvitro.neocities.org/webring/linuxring/script/onionring-variables.js"></script>
      <script type="text/javascript" src="https://teethinvitro.neocities.org/webring/linuxring/script/onionring-widget.js"></script>
    </div>
  </div>
</div>
